#menuTitle {
	background-color: black;
	text-transform: uppercase;
	font-size: 1em;
	color: white;
	}
ul { 
	margin: 0;
	padding-left: 0px;
	padding-top: 2px;
	}
li {
	display: inline;
}
a{  
	padding: 1.65em .5em 0em .5em;
}
a:hover {
		background-color: gray;
		border-left: solid;
		border-right: solid;
		border-width: thin;
		border-color: black;\
	}

.icon { 
 	/* /* width: 3em; */ */
 	/* height: 2.5em; */
 }
 #menu {
 	background-color: lightgray;
	margin: 0px 20px 0px 20px;
	max-width: 40em;

}

#legend{
	background-color: white;
	background-color: white;
	margin-bottom: 15px;
	padding-top: 0;
	padding-right:1em;
	padding-left: 1em;
}

body{
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	color: #665544;\
	letter-spacing: 0.15em;
	}

html, body {
height: 90%;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
 .footer, .push{
 	height: 4em;
 }
 .push{
 	margin-bottom: 100px;
 }